[mysqld]
sql_mode = ""
character_set_server = "binary"
log_bin_trust_function_creators = "ON"
max_allowed_packet = "104857600"
innodb_flush_log_at_timeout = "60"
innodb_flush_log_at_trx_commit = "0"
default_authentication_plugin = "mysql_native_password"
innodb_use_native_aio = "off"
default_time_zone = "UTC"
bind-address = 0.0.0.0